


body{
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	line-height:1.42857143;
	color:#fff;
	background-color:#212A32}


h1 {
    font-size: 1.5em;
    padding-top: 10px;
    font-weight: 100;
    margin-bottom: 0px!important;

}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010!important;
    float: left;
    padding-top: 0!important;
}

.nav>li {
    border-bottom: 1px solid rgba(238, 238, 238, 0.5)!important;
}

.navbar-nav {
    margin: 0;
    background-color:#304755;
}

.navbar-collapse2 {
    float: right;
    padding-top: 0px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #9d9d9d;
}


.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #304755;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle2:hover {
    background-color: #304755;
}

.navbar-inverse .navbar-toggle2:focus, .navbar-inverse .navbar-toggle2:hover {
    background-color: #304755;
}

.navbar-collapse {
    box-shadow: none;
}

.navbar-collapse2 {
    box-shadow: none;
}

 .input-sm {
 	height:30px;
 	padding:5px 10px;
 	font-size:16px;
 	line-height:1.5;
 	border-radius:0px;
 	background: transparent;
 	border: none;     
 	border-bottom: 1px solid #fff;
 	color:#ffffff;
 } 

.form-control {
	font-size:16px;
}

div#logo {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 30px;
}

.btn-login {
	margin-right: auto;
    margin-left: auto;
    text-align: center;
}

i.fa.fa-cog {
    color: #ffffff;
    font-size: 24px;
}

i.fa.fa-angle-left {
    font-size: 33px;
    color: #fff;
    float: left;
    padding: 10px 0 0 10px;
}

.dash {
	background-color:#304755;
	margin: 0 10px;
	font-size: 2em;
	padding-top: 5px;
}

.dash img {
	float: right;
    margin-top: 5px;
}

/* Linea Verde */
.linea-verde {
	border-bottom: 2px solid #62FF1B!important;
	
}

/* Linea Amarilla */
.linea-amarilla {
	border-bottom: 2px solid #FFC700!important;
	
}

/* Linea Roja */
.linea-roja {
	border-bottom: 2px solid #FF3A00!important;
	
}

div#lupa-1 {
    float: right;
}

section#graficos {
    padding: 0 10px;
}

section#graficos img {
    width: 100%;
}

section#tables {
    padding: 20px 10px;
}

.page-header {
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.5)!important;
    text-align: center;    }


.uno {
    margin: 20px 10px;
}

.due {
    border-right: 1px solid #2A2B2B;
    background-color:#304755;
    padding: 10px;
}
 
.tre {
    background-color:#304755;
    padding: 10px;
}

span.gran {
    font-size: 1.8em;
}
span.med {
    font-size: 1.1em;
    font-weight: 700;
}

@media (min-width:768px){

    span.med {
    font-size: 1.8em;
    font-weight: 700;
}
}

@media (min-width: 992px) {

    .col-md-offset-5 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    float: none;
}
}

@media (min-width: 1200px){
    .uno {
    margin: 20px 10px;
    width: 100%;
}

}



span.peq {
    font-size: 0.8em;
    font-weight: 100;
}

.table-bordered {
    border: none;
}

.table>thead:first-child>tr:first-child>th {
    border: 0;
    border-right: 1px solid #2A2B2B;
    text-align: center;
    font-weight: 100;
}

.table-bordered>tbody>tr>td {
    border-bottom: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
    font-weight: 100;
    font-size: 1.3em;
}

thead {
    background-color: #304755;
    padding: 10px;
}

.cincue {
    border-bottom: 1px solid rgba(238, 238, 238, 0.5);
    padding-bottom: 5px;
}

.sei {
    border-right: 1px solid rgba(238, 238, 238, 0.5);

}


.foot {
    height: 60px;
    clear: both;
    float: left;
}






